h1 Editing activity_application

== render 'form', {meetup_event: @meetup_event, activity_application: @activity_application}

=> link_to 'Show', @activity_application
'|
=< link_to 'Back', meetup_event_activity_applications_path

